@{
    ViewData["Title"] = "Home Page";
}


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-bg-info" role="alert">
        @TempData["MensagemSucesso"]

    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-bg-info" role="alert">
        @TempData["MensagemErro"]

    </div>
}



<div class="text-center">
    
    <h1 class="display-4">Empréstimos Online</h1>
    <p>Abra um livro, deixe-sse levar. Um novo mundo você vai encontrar!</p>
    <div>
        <img src="/img/book.png" />
    </div>


</div>
